.idea/kotlinc.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_6.xml
.idea/uiDesigner.xml
out/artifacts/JobSearchApp_war_exploded/WEB-INF/classes/com/

target/
.idea/*
JobSearchApp.iml
*.iml

jobsearch.iml

.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml